.chat-input-container {
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
}

.chat-input {
    resize: none;
    border-radius: 0.5rem;
    border: 1px solid darkgray;
    width: 80%;
    max-width: 25rem;
    max-height: 20rem;
    overflow-y: auto;
    font-size: 1.25rem;
    padding: 0.35rem;
    padding-right: 2.5rem;
    position: fixed;
    bottom: 6rem;
}

.send-icon {
    font-size: 1rem;
    margin-left: 0.75rem;
    position: absolute;
    right: 1.25rem;
    bottom: 1rem;
    background: rgb(254, 48, 114);
    border-radius: 1rem;
    padding: 0.25rem;
    color: white;
}

@media (min-width: 768px) {
    .chat-input {
        max-width: 12rem;
    }

    .send-icon {
        bottom: 4.35rem;
    }
}

@media (min-width: 1024px) {
    .chat-input {
        max-width: 17rem;
    }

    .send-icon {
        bottom: -0.7rem;
        right: 1.5rem;
    }
}

@media (min-width: 1440px) {
    .chat-input {
        max-width: 25rem;
        bottom: 10rem;
    }

    .send-icon {
        bottom: -4rem;
        right: 2.25rem;
    }
}