.chat-container {
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-right: 3rem;
    width: 35%;
    text-align: left;
    z-index: 1;
    height: 100%;
}

.options-buttons {
    display: flex;
    justify-content: start;
}

.option {
    border: none;
    background-color: white;
    border-bottom: solid 2px rgb(243, 33, 33);
    font-size: 1.25rem;
    margin: 0.25rem;
    padding: 0.50rem
}

.main-chat-view {
    height: 80%;
}

@media (max-width: 425px) {
    .chat-container {
        margin: 0;
        width: 100%;
        box-shadow: none;
    }
}