.dashboard {
    display: flex;
    justify-content: space-between;
}

.swiper-container {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swipe {
  position: absolute;
}

.card-container {
  width: 25rem;
  height: 40rem;
}

.card {
  width: 25rem;
  height: 40rem;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.20);
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
}

.card h3 {
  margin-top: 0;
}

.dashboard .swipe-info {
  position: absolute;
  bottom: 0;
  padding: 0.5rem;
}