.dashboard-page {
  height: 100vh;
}

.dashboard {
    display: flex;
    justify-content: start;
    height: 85%;
}

.swiper-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swipe {
  position: absolute;
}

.card-container {
  width: 25rem;
  height: 40rem;
}

.card {
  width: 25rem;
  height: 40rem;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.20);
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  position: relative;
}

.info-section {
  position: absolute;
  left: 1rem;
  bottom: 1.5rem;
  z-index: 1;
}

.info-section-header {
  display: flex;
  align-items: baseline;
}

.fighter-name {
  color: white;
  font-weight: 500;
  font-size: 2.5rem;
}

.fighter-age {
  color: white;
  font-size: 1.25rem;
  margin-left: 0.75rem;
}

.subinfo-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-top: 0.25rem;
  margin-left: 0.5rem;
  color: white;
}

.trained-status {
  font-style: italic;
  font-weight: 500;
  font-size: 1.25rem;
}

.arts-container {
  margin-top: 0.5rem;
}

.art:not(:first-of-type) {
  margin-left: 1.5rem;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  pointer-events: none;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

@media (max-width: 425px) {
  .dashboard {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: start;
    position: relative;
  }

  .swiper-container {
    width: 100%;
    height: 34rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .card-container {
    width: 100%;
  }

  .swipe {
    width: 100%;
  }

  .card {
    width: 80%;
    height: 30rem;
    margin: 0 auto;
  }

  .fighter-name {
    font-size: 1.75rem;
  }
  
  .fighter-age {
    font-size: 1rem;
  }

  .subinfo-section {
    margin-top: 0.35rem;
  }
  
  .trained-status {
    font-size: 1rem;
  }

  .arts-container {
    margin-top: 0.35rem;
  }

  .art {
    font-size: 0.9rem;
  }

  .selection-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
  }

  .selection-button {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    width: 10rem;
    border-radius: 2rem;
    border: 1px solid darkgray;
  }

  .selection-button.active {
    background: linear-gradient(45deg, rgb(254, 48, 114), rgb(255, 89, 64));
    color: white;
    transition: all 0.3s ease;
  }

  .chat-view-container {
    width: 100%;
    height: 36rem;
  }
}