.auth-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 20rem;
    height: 25rem;
    background-color: white;
    border-radius: .75rem;
    padding: 1rem;
}

.close-button {
    font-size: 1rem;
}