.nav-container {
    width: 100%;
    height: 5rem;
    max-height: 5rem;
    display: flex;
    justify-content: space-between;
}

.logo-container {
    flex: 6;
    margin: 1rem;
    display: flex;
    align-items: center;
}

.logo-img {
    height: 100%;
    object-fit: cover;
    margin-right: 1rem;
}

.logo-text {
    font-family: 'Roboto';
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.is-dark {
    color: rgb(39, 39, 39);
}

.nav-buttons {
    flex: 6;
    display: flex;
    justify-content: end;
    margin: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-button {
    color: #FF6666;
    background-color: rgba(47, 47, 47, 0.5);
    font-size: 1.25rem;
    font-weight: 500;
    padding: 1rem 1.25rem;
    border-radius: 0.75rem;
    border: none;
    cursor: pointer;
    transition: all .2s ease;
    backdrop-filter: blur(10px);
}

.nav-button:hover {
    color: white;
    transition: all .2s ease;
}

.nav-button:disabled {
    color: lightgray;
}

@media (max-width: 768px) {
    .logo-container {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .logo-text {
        font-size: 2.25rem;
    }
}

@media (max-width: 375px) {
    .logo-text {
        font-size: 2rem;
    }

    .nav-button {
        font-size: 1rem;
        padding: .85rem 1.15rem;
    }
}