.chat-container-header {
    background: linear-gradient(45deg, rgb(254, 48, 114), rgb(255, 89, 64));
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

.profile-img-container {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid white;
    overflow: hidden;
}

.profile-img {
    max-width: 100%;
    height: auto;
    display: block;
}

.profile-username {
    margin-left: 0.75rem;
    color: white;
}